{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 homeHeader backgroundProperty">
                </div>
                <div class="clear"></div>
                <div class="col-xs-8 searchByCatTab">
                    <input placeholder="Rechercher" class="searchInput" type="search">
                </div>
                <div class="adRightNextToCatTab backgroundProperty col-xs-3 col-xs-offset-1">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12 topShows">
                    {% for showRecent in showsRecent %}
                        <div class="singleShow">
                            <h3 class="titleSingleShow col-xs-10">La plus récente</h3><span class="viewCatLink col-xs-2">Voir la catégorie</span>
                            <div class="col-xs-12 dividerUnderTitle"></div>
                            <div class="col-md-4 col-xs-12 videoSingleShow">
                            </div>
                            <div class="col-md-8 col-xs-12 contentSingleShow">
                                <div class="col-xs-12 textSingleShow">
                                    <h4>{{ showRecent.name }}</h4>
                                    <p>
                                        {{ showRecent.description }}
                                    </p>
                                    <a href="{{ path('app_tvshow_show', {'name' : showRecent.name })  }}">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="clear"></div>
                    {% for top in topWtf %}
                        <div class="singleShow">
                            <h3 class="titleSingleShow col-xs-10">La plus WTF</h3><span class="viewCatLink col-xs-2">Voir la catégorie</span>
                            <div class="col-xs-12 dividerUnderTitle"></div>
                            <div class="col-md-4 col-xs-12 videoSingleShow">
                            </div>
                            <div class="col-md-8 col-xs-12 contentSingleShow">
                                <div class="col-xs-12 textSingleShow">
                                    <h4>{{ top.name }}</h4>
                                    <p>
                                        {{ top.description }}
                                    </p>
                                    <a href="{{ path('app_tvshow_show', {'name' : top.name })  }}">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                    {% for liked in topLiked %}
                        <div class="singleShow">
                            <h3 class="titleSingleShow col-xs-10">La plus aimée</h3><span class="viewCatLink col-xs-2">Voir la catégorie</span>
                            <div class="col-xs-12 dividerUnderTitle"></div>
                            <div class="col-md-4 col-xs-12 videoSingleShow">
                            </div>
                            <div class="col-md-8 col-xs-12 contentSingleShow">
                                <div class="col-xs-12 textSingleShow">
                                    <h4>{{ liked.name }}</h4>
                                    <p>
                                        {{ liked.description }}
                                    </p>
                                    <a href="{{ path('app_tvshow_show', {'name' : liked.name })  }}">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                    <div class="singleShow">
                        <h3 class="titleSingleShow col-xs-10">La plus commentée</h3><span class="viewCatLink col-xs-2">Voir la catégorie</span>
                        <div class="col-xs-4 videoSingleShow">
                        </div>
                        <div class="col-xs-8 contentSingleShow">
                            <div class="col-xs-12 textSingleShow">
                                <h4>Showdown! Takeshi Castle</h4>
                                <p>
                                    Dans une ambiance pseudo militaire,
                                    le général (animateur) Tani prépare son
                                    armée de entre 100 et 142 candidats dans
                                    une série d’epreuves physiques, qui élimine
                                    rapidement la majorité des candidats, les
                                    dernier sont envoyé attaquer le chateau
                                    éponyme sous la forme d’un laserquest,
                                    les survivants gagnant un prix.
                                </p>
                                <a href="#">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
/*    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
*/
</style>
{% endblock %}
