{% extends 'base.html.twig' %}

{% block body %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    {% block title %}
    {% endblock %}
    <div class="col-xs-12 text-center">
      <h1>Se connecter</h1>
    </div>
    {% block content %}

        {% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" class="col-md-6 col-md-offset-3 " method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <p for="username">Pseudo</p>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <p for="password">Mot de passe</p>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <p for="remember_me">Se souvenir de moi</p>

            <input type="submit" id="_submit" name="_submit" value="Connexion" />
        </form>

    {% endblock %}


{% endblock fos_user_content %}

{% endblock %}
