{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <div>
        <h2>Liste des utilisateurs</h2>
        <ul>
            {% for entity in entities %}
                <li>
                    <div>
                        <a href="{{ path('fos_user_profile_show_user', {'id': entity.id}) }}">{{ entity.username }}</a>
                        <p>{{ entity.email }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Liste des émissions</h2>
            <ul>
                {% for show in shows %}
                    <li>
                        <a href="{{ path('app_tvshow_show', {'name': show.name}) }}">{{ show.name }}</a>
                    </li>
                {% endfor %}
            </ul>
    </div>

{% endblock %}