{% extends "::base.html.twig" %}

{% block title %}AppBundle:TVShow:show{% endblock %}

{% block body %}
<h1>{{ show.name }}</h1>
<p>{{ show.description }}</p>
    {{ form_start(formWTF) }}
    {{ form_widget(formWTF.type, {value : 'wtf'}) }}
    {{ form_widget(formWTF.save) }}
    {{ form_end(formWTF) }}

    {{ form_start(formLike) }}
    {{ form_widget(formLike.type, {value : 'fav'}) }}
    {{ form_widget(formLike.save) }}
    {{ form_end(formLike) }}

    <p>WTF: {{ countWtf }}</p>
    <p>FAV: {{ countFav }}</p>
{% endblock %}
