{% extends "::base.html.twig" %}

{% block title %}AppBundle:TVShow:show{% endblock %}

{% block body %}
  <div class="container singleShowPage">
    <h1>{{ show.name }}</h1>
      <h4>Chaine : {{ show.channel }}</h4>
      <h4>Présentateur : {{ show.host }}</h4>
      <h4>Thème : {{ show.theme }}</h4>
      <h4>Durée : {{ show.time |date("H:i") }}min</h4>
    <p>{{ show.description }}</p>
      <iframe class="col-xs-12" src="{{ show.videoUrl }}"></iframe>
    <p> Réagir à ce show : </p>
        {{ form_start(formWTF) }}
        {{ form_widget(formWTF.type, {value : 'wtf'}) }}
        {{ form_widget(formWTF.save) }}
        {{ form_end(formWTF) }}

        {{ form_start(formLike) }}
        {{ form_widget(formLike.type, {value : 'fav'}) }}
        {{ form_widget(formLike.save) }}
        {{ form_end(formLike) }}
        <div class="pull-right">
        <p>
          WTF: {{ countWtf }} /
          J'aime: {{ countFav }}
        </p>
        </div>
        <div class="col-xs-12 noPaddingLeft">
          <p class="littleMarginTop">
            Commentaires :
          </p>
        </div>
  </div>
{% endblock %}
